.__whitespace-normal {
  white-space: normal;
}

.__whitespace-nowrap {
  white-space: nowrap;
}

.__whitespace-pre {
  white-space: pre;
}

.__whitespace-pre-line {
  white-space: pre-line;
}

.__whitespace-pre-wrap {
  white-space: pre-wrap;
}
