.browse-category {
    //padding: 5px 5px;
    width: 274px;
}

.browse-category__row1 {
    display: flex;
    padding: 15px;
    padding-top: 8px;
    margin-bottom: -27px;
    background-color: #E2E0E0;
    height: 35px;
    font-weight: bold;
}

.browse-category__row2 {
    background-color: #E5E5E5;
    margin-top: 27px;
    color: black;
}

.browse-category__row2 a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
      
.browse-category__row2 a:hover {
    color: #3C9DF8;
}
