.contact__header {
  margin: 20px;
  margin-top: 30px;
}

.contact__body {
  margin: 20px;
  h5 {
    padding: 0px;
    margin-top: 27px;
  }
  p {
    padding: 0px;
    margin: 5px;
  }
}

.contact__form {
  margin: 20px;
  padding: 10px;
}
