.global-search {
  position: relative;

  &__input {
    width: 100%;
    outline: none;
    border: none;
    padding: .75rem .75rem;
    border-radius: .25rem;
    text-align: center;
  }

  &__btn {
    position: absolute;
    right: 0;
    outline: none;
    background: transparent;
    border: none;
    width: 60px;
    height: 100%;
  }
}