@import 'bootstrap';

@import 'header';
@import 'menu';
@import 'footer';
@import 'global-search';
@import 'browse-categorys';
@import 'main-carousel';
@import 'latest-deals';
@import 'signin';
@import 'signup';
@import 'product';
@import 'about';
@import 'contact';

// body {
//   font-size: 13px;
//   line-height: 19px;
//   font-family: Arial,sans-serif;
// }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.breadcrumb {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}

@import 'utilities';
