.app-header {
  background-color: #3c9df8;
  //height: 200px;
  //width: 100%;

  #nav-bar-right {
    display: flex;
    flex-basis: 0%;
    flex-grow: 0;

    .nav-item {
      white-space: nowrap;
    }
  }
}

.nav-link {
  display: block;
  padding: 0.1rem 1rem;
}
